<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>api doc</title>
    <style>
        pre code {
          background-color: #eee;
          border: 1px solid #999;
          display: block;
          padding: 20px;
        }

        .typeAttribute {
            font-size: 12px;
            color:blue;
        }
    </style>
</head>
<body>
    <p>Содержание:</p>
    <#list entities as entity>
        <p><a href="#${entity.entityId}">${entity.entityName}</a></p>
    </#list>

    <br>

    <h2>Запрос авторизации</h2>

    <pre><code>curl -X POST \
      http://127.0.0.1:9080/request.json \
      -H 'content-type: application/x-www-form-urlencoded' \
      -d 'request=login&password=d41d8cd98f00b204e9800998ecf8427e&login=Admin'</code></pre>

    <#list entities as entity>
        <h2 id="${entity.entityId}">Представление: ${entity.entityName}</h2>
        <#if entity.entityDescription??>
            <p>${entity.entityDescription}</p>
        </#if>

        <p>Перечень полей представления:</p>
        <table border="1" cellpadding="5px">
            <#list entity.entityFields as field>
                <tr>
                    <td>
                        <#if field.reference??>
                            <a href="#${field.reference}">${field.name}</a>
                        <#else>
                            ${field.name}
                        </#if>
                        <br>
                        <span class="typeAttribute" style=color:blue>${field.type}</span>

                        <#if field.length??>
                            <br>
                            <span>length: ${field.length}</span>
                        </#if>
                        <#if field.format??>
                            <br>
                            <span>format: ${field.format}</span>
                        </#if>
                    </td>
                    <td>${field.description}</td>
                </tr>
            </#list>
        </table>

        <#if entity.actions?has_content>
            <p>Перечень команд представления:</p>
            <table border="1" cellpadding="5px">
                <#list entity.actions as action>
                <tr>
                    <td>${action.name}</td>
                    <td>${action.description}</td>
                </tr>
                </#list>
            </table>
        </#if>

        <br>

        <table border="1" cellpadding="5px">
            <tr>
                <td colspan="3"><h4>Параметры запроса</h4></td>
            </tr>
            <tr>
                <td>Наименование параметра</td>
                <td>Пример значения</td>
                <td>Описание</td>
            </tr>
            <#list entity.input as attr>
                <tr>
                    <td>${attr.name}
                        <#if attr.required>
                            <span style=color:red>*<span style="font-size: 10px">required</span></span>
                        </#if>
                        <br>
                        <span class="typeAttribute">${attr.type}</span>
                    </td>
                    <td><pre>${attr.value}</pre></td>
                    <td><pre>${attr.description}</pre></td>
                </tr>
            </#list>

            <tr>
                <td colspan="3"><h4>Ответ запроса</h4></td>
            </tr>

            <tr>
                <td>Наименование параметра</td>
                <td>Пример значения</td>
                <td>Описание</td>
            </tr>

            <#list entity.output as attr>
                <tr>
                    <td>${attr.name}<br><span class="typeAttribute">${attr.type}</span></td>
                    <td><pre>${attr.value}</pre></td>
                    <td><pre>${attr.description}</pre></td>
                </tr>
            </#list>
            <tr>
                <td colspan="3"><h4>Пример запроса</h4></td>
            </tr>
            <tr>
                <td colspan="3">
                    <pre><code>${entity.codeSnippet}</code></pre>
                </td>
            </tr>
        </table>
    <br>
    </#list>
</body>
</html>