.air .btn {
	padding: 0 8px;
	border-radius: 4px;
}

.air .btn>.btn:first-child {
	border-radius: 4px 0 0 4px;
}

.air .btn>.btn-trigger {
	border-radius: 0 4px 4px 0;
}

.air .btn>.icon {
	width: 16px;
}

.air .btn>.icon,
.air .btn>.text {
	opacity: .6;
}

.air .btn.active>.icon,
.air .btn.active>.btn>.icon,
.air .btn.active>.text,
.air .btn.active>.btn>.text,
.air .btn:hover>.icon,
.air .btn:hover>.btn>.icon,
.air .btn:hover>.text,
.air .btn:hover>.btn>.text {
	opacity: 1;
}

.air .btn.active {
	background: #eee;
}

.btn.active+.btn-trigger {
	background: #eee;
}

.air .btn>.btn {
	padding: 0;
}

.air .btn>.btn-trigger {
	padding-left: 4px;
}

.air .btn-group {
	padding: 0 8px;
}

.air .btn-group>.btn {
	padding: 0 4px;
}

.air .btn-tool {
	background-color: transparent !important;
	border: none !important;
	padding: .07142857em .07142857em;
}

.air .btn-tool.disabled {
	color: #999;
}

.air .btn-tool:hover>.icon,
.air .btn-tool:hover>.text {
	color: #fff;
}


/* toolbar */

.air .toolbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 40px;
	padding: 0 8px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.14902);
}

.air .toolbar .btn {
	height: 24px;
	padding: 0 4px;
}

.air .toolbar .btn>.btn {
	padding: 0;
}

.air .toolbar .btn>.btn-trigger {
	padding-left: 0px;
}

.air .btn>.icon,
.air .btn>.text {
	opacity: .4;
}

.air .toolbar>.text {
	font-weight: 500;
	color: #333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.air .toolbar>.control-group,
.air .toolbar>.btn-group>.control-group {
	background: #fff;
	border-radius: 4px;
	border: 1px solid #eee;
	margin: 0 4px;
}

.air .toolbar>.control-group>.control,
.air .toolbar>.btn-group>.control-group>.control {
	border: none;
}

.air .control-group>.btn-trigger {
	bottom: auto;
}



.air .fieldset {
	border-color: #dfdfdf;
	padding-top: 1.07142857em;
}

.air .fieldset>.legend {
	left: .42857143em;
	top: -.57142857em;

	font-size: .8em;
	font-weight: 600;
	text-transform: uppercase;
}

.air .fieldset>.legend>.fa {
	font-size: 1em;
}

.air .control-group {
	flex-direction: column;
}

.air .control {
	height: auto;
	min-height: 1.78571429em;
	padding-left: .14285714em;
	padding-bottom: 1px;
	padding-top: 0;
	padding-right: .14285714em;
	border: 0 solid #dfdfdf;
	border-bottom-width: 1px;
}

.air .control::-webkit-input-placeholder {
	font-size: .85714286em;
	font-style: italic;
}

.air .control::-moz-placeholder {
	font-size: .85714286em;
	font-style: italic;
}

.air .control:-ms-input-placeholder {
	font-size: .85714286em;
	font-style: italic;
}

.air .control.number {
	text-align: right;
}

.air .control.list {
	padding-top: .07142857em;
	padding-bottom: .07142857em;
}

.air .control.list.columns {
	padding-top: 0;
}

.air div[name=input].control {
	padding-top: .35714286em;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.air textarea.control,
.air .html-text.control {
	min-height: 6.54545454em;
	padding-top: .28571429em;
	padding-left: .28571429em;
	padding-right: .28571429em;
	overflow-y: scroll;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
}

.air .control-group.trigger-1>.control {
	padding-right: 1.42857143em !important;
}

.air .control-group.trigger-2>.control {
	padding-right: 2.85714286em !important;
}

.air .control-group.trigger-3>.control {
	padding-right: 4.28571429em !important;
}

.air .control-group.trigger-1.readonly>.control,
.air .control-group.trigger-2.readonly>.control,
.air .control-group.trigger-3.readonly>.control,
.air .control-group.trigger-1.disabled>.control,
.air .control-group.trigger-2.disabled>.control,
.air .control-group.trigger-3.disabled>.control {
	padding-right: 0 !important;
}

.air .control-group.readonly>.trigger-1,
.air .control-group.readonly>.trigger-2,
.air .control-group.readonly>.trigger-3,
.air .control-group.disabled>.trigger-1,
.air .control-group.disabled>.trigger-2,
.air .control-group.disabled>.trigger-3 {
	display: none;
}

.air .file.control-group.readonly:not(.disabled)>.control {
	padding-right: 1.42857143em !important;
}

.air .file.control-group.readonly:not(.disabled)>.trigger-1 {
	display: block;
}

.air .control[type=number] {
	padding-right: 0;
}

.air .control[disabled],
.air .control.disabled {
	color: #a6a6a6;
	background-color: transparent;
}

.air .control[readOnly],
.air .control.readOnly {
	color: #151515;
	background-color: transparent;
}

.air .label {
	height: 1.5em;
	background: none;
	border: none;
	padding-left: 0;
	padding-right: 0;
	position: relative;
	-webkit-transition: color ease-in-out .15s;
	-o-transition: color ease-in-out .15s;
	transition: color ease-in-out .15s;
}

.air .label.readonly {
	padding-right: 1.14285714em !important;
}

.air .label.readonly:after {
	content: '\f023';
	font-family: FontAwesome;
	width: 1em;
	color: #aaa;
	position: absolute;
	right: 0;
}

.air .control-group>.label.toolbar {
	border: none;
	height: 32px;
}

.air .control-group>.label.toolbar .label {
	height: auto;
	padding-top: 0;
}

.air .label.toolbar>.text {
	float: left;
	max-width: calc(100% - 5.71428571em);
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.air .label.empty:not(.toolbar),
.air .label.empty.toolbar>.text {
	display: none;
}

.air .focus.control,
.air .control-group.focus>.control {
	padding-bottom: 0;
	border-bottom-width: 2px;
	border-color: #39c;
}

.air .control-group.focus>textarea.control,
.air .control-group.focus>.html-text.control,
.air .control-group.focus>.control.list,
.air .filter-control.focus>.expression {
	border-bottom-width: 1px;
	padding-bottom: 1px;
}

.air .invalid.focus.control:not(.readonly),
.air .control-group.invalid.focus:not(.readonly)>.control {
	border-top-color: #c9302c;
	border-left-color: #c9302c;
	border-right-color: #c9302c;
	border-bottom-color: #c9302c;
}

.air .control-group.label-top>.control {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.air .control-group.label-top>.control {
	border-right-width: 0;
}

.air .control-group.label-top>.list.control,
.air .control-group.label-top>textarea.control,
.air .control-group.label-top>.html-text.control {
	border-right-width: 1px;
}

.air .control-group.label-left>.label,
.air .control-group.label-right>.label {
	padding-top: .28571429em;
	padding-bottom: 0;
	height: 1.78571429em;
}

.air .control-group.label-left>.label {
	padding-right: .71428571em;
}

.air .control-group.label-right>.label {
	padding-left: .71428571em;
}

.air .label>.text {
	font-size: .8em;
	font-weight: 600;
	text-transform: uppercase;
	padding-right: 1.42857143em;
	padding-left: .14285714em;
	color: #39c;
}

.air .label>.text.has-control {
	overflow: visible;
}

.air .label>.text>.fa {
	text-align: left;
	color: #808080;
	margin-right: .5em;
}

.air .invalid:not(.readonly)>.label>.text {
	color: #c9302c;
}

.air .label.disabled {
	color: #999;
}

.air .control-group>.btn-trigger {
	position: absolute;
	bottom: 0;
	width: 1.42857143em;
	height: 1.78571429em;
	padding-top: .35714286em;
	padding-bottom: .35714286em;
	padding-left: 0;
	padding-right: 0;

	border: none;
	color: #222;
	background: none !important;
	text-shadow: none;
}

.air .control-group>.trigger-1 {
	right: 0;
}

.air .control-group>.trigger-2 {
	right: 1.42857143em;
}

.air .control-group>.trigger-3 {
	right: 2.85714286em;
}

.air .control-group>.btn-trigger.active  {
	text-shadow: 0 3px 5px rgba(0, 0, 0, 0.125);
}

.air .control-group>.btn-trigger:hover:not(.disabled),
.air .control-group>.btn-trigger:focus:not(.disabled), 
.air .control-group>.btn-trigger.active:focus:not(.disabled) {
	color: #39c;
}

.air .control-group>.btn-trigger>.fa {
	width: 1.42857143em;
}

.air .dropdown-list,
.air .combobox>.pager,
.air .dropdown-calendar {
	margin: 0;
}

.air .checkbox>.control,
.air .checkbox.focus>.control,
.air .checkbox:focus>.control {
	border-bottom-width: 0;
	padding-bottom: 0;
	flex: none;
}

.air .checkbox:focus>.control,
.air .checkbox.focus>.control {
	color: #39c;
}

.air .checkbox>.control {
	padding-bottom: 0;
}

.air .checkbox>.label {
	height: auto !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.air .control-group.label-left>.label {
	padding-left: 0;
	padding-right: .42857143em;
}

.air .control-group.label-right>.label {
	padding-left: .42857143em;
	padding-right: 0;
}

.air .list-box>.toolbar>.btn>.fa-external-link {
	position: relative;
	top: .14285714em;
}

/* action buttons */

.action.btn {
	height: 32px;
	border-radius: 4px;
}

.action.btn>.icon,
.action.btn>.text {
	opacity: 1;
}

.action.btn-default {
	background-color: #eee;
}

.action.btn-default:focus,
.action.btn-default:hover,
.action.btn-default.active {
	background-color: #ddd;
}

.action.btn-default.disabled,
.action.btn-default.disabled:hover,
.action.btn-default.disabled:focus,
.action.btn-default.disabled.active {
	background-color: #fafafa;
}

.action.btn-primary {
	color: #fff;
	background-color: #337ab7;
}

.action.btn-primary:focus,
.action.btn-primary:hover,
.action.btn-primary.active {
	background-color: #286090;
}

.action.btn-primary.active:hover,
.action.btn-primary.active:focus {
	background-color: #204d74;
}

.action.btn-primary.disabled,
.action.btn-primary.disabled:hover,
.action.btn-primary.disabled:focus,
.action.btn-primary.disabled.active {
	background-color: #337ab7;
}

.action.btn-success {
	color: #fff;
	background-color: #1d9d74;
}

.action.btn-success:focus,
.action.btn-success:hover,
.action.btn-success.active {
	background-color: #157254;
}

.action.btn-success.active:hover,
.action..btn-success.active:focus {
	background-color: #0f543e;
}

.action.btn-success.disabled,
.action.btn-success.disabled:hover,
.action.btn-success.disabled:focus,
.action.btn-success.disabled.active {
	background-color: #1d9d74;
}

.action.btn-info {
	color: #fff;
	background-color: #5bc0de;
}

.action.btn-info:focus,
.action.btn-info:hover,
.action.btn-info.active {
	background-color: #31b0d5;
}

.action.btn-info.active:hover,
.action.btn-info.active:focus {
	background-color: #269abc;
}

.action.btn-info.disabled,
.action.btn-info.disabled:hover,
.action.btn-info.disabled:focus,
.action.btn-info.disabled.active {
	background-color: #5bc0de;
}

.action.btn-warning {
	color: #fff;
	background-color: #f0ad4e;
}

.action.btn-warning:focus,
.action.btn-warning:hover,
.action.btn-warning.active {
	background-color: #ec971f;
}

.action.btn-warning.active:hover,
.action.btn-warning.active:focus {
	background-color: #d58512;
}

.action.btn-warning.disabled,
.action.btn-warning.disabled:hover,
.action.btn-warning.disabled:focus,
.action.btn-warning.disabled.active {
	background-color: #f0ad4e;
}

.action.btn-danger {
	color: #fff;
	background-color: #d9534f;
}

.action.btn-danger:focus,
.action.btn-danger:hover,
.action.btn-danger.active {
	background-color: #c9302c;
}

.action.btn-danger.active:hover,
.action.btn-danger.active:focus {
	background-color: #ac2925;
}

.action.btn-danger.disabled,
.action.btn-danger.disabled:hover,
.action.btn-danger.disabled:focus,
.action.btn-danger.disabled.active {
	background-color: #d9534f;
}
