<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN' 'http://www.w3.org/TR/html4/strict.dtd'>
<html>
<head>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>

	<link rel='stylesheet' type='text/css' href='css/code.css'>

	<title>{0}</title>
</head>
<body>

<script type='text/javascript'>
	var onClick = function(event) {
		var target = event.target;
		if(target.tagName == 'A') {
			monitorSelected();
			window.removeEventListener('click', monitorSelected);
			select(target.hash);
		}
	};

	var selectedElement;

	var select = function(hash) {
		var element;
		hash = hash != null ? hash.substr(1) : null;
		if(hash != null && (element = document.getElementById(hash)) != null) {
			selectedElement = element;
			selectedElement.className += ' selected';
			window.addEventListener('click', monitorSelected);
		}
	}

	var monitorSelected = function(url) {
		if(selectedElement != null) {
			selectedElement.className = selectedElement.className.replace(/\s?selected/g, '');
			selectedElement = null;
			window.removeEventListener('click', monitorSelected);
		}
	}

	var onLoad = function() {
		select(document.location.hash);
	}

	window.addEventListener('load', onLoad);
	window.addEventListener('click', onClick);
</script>

<pre id='code' class='code'>
{1}
</pre>
</body>
</html>
