<?xml version="1.1" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
		point="org.eclipse.datatools.connectivity.connectionProfile">

		<category
			name="Z8 Data Source"
			parentCategory="org.eclipse.datatools.connectivity.oda.profileCategory"
			id="org.zenframework.z8.oda.driver"/>

		<connectionProfile
			pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
			name="Z8 Data Source Connection Profile"
			category="org.zenframework.z8.oda.driver"
			id="org.zenframework.z8.oda.driver"/>

		<connectionFactory
			name="ODA Connection Factory"
			profile="org.zenframework.z8.oda.driver"
			class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
			id="org.eclipse.datatools.connectivity.oda.IConnection"/>

		<newWizard
			id="org.zenframework.z8.oda.driver"
			name="Z8 Data Source"
			class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.NewDataSourceWizard"
			description="Create an Z8 connection profile"
			icon="icons/new_oda_dswiz.ico"
			profile="org.zenframework.z8.oda.driver"/>
	</extension>

	<extension
		point="org.eclipse.datatools.connectivity.oda.design.ui.dataSource">
		<dataSourceUI id="org.zenframework.z8.oda.driver">
			<newDataSourceWizard
				includesProgressMonitor="false"
				pageClass="org.zenframework.z8.oda.designer.ui.wizards.DataSourceWizardPage"
				pageTitle="Create a new data source"
				windowTitle="New Z8 Data Source Profile"/>
		</dataSourceUI>	

		<dataSetUI
			id="org.zenframework.z8.oda.driver.DataSet"
			initialPageId="org.zenframework.z8.oda.driver.DataSet"
			supportsInParameters="true"
			supportsOutParameters="false">
			<dataSetWizard 
				class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"
				windowTitle="New Data Set"/>
				<dataSetPage
					id="org.zenframework.z8.oda.driver.DataSet"
					wizardPageClass="org.zenframework.z8.oda.designer.ui.wizards.DataSetEditorPage"
					displayName="Z8 Query"/>
		</dataSetUI>
	</extension>
   
</plugin>
