.job-monitor .control-group.messages>.box>.control 
	padding: $ems-10

.job-monitor .control-group.messages>.box>.control>.header 
	margin-top: $ems-10
	margin-bottom: 0
	font-weight: bold

.job-monitor .control-group.messages>.box>.control>.header>i 
	padding-right: $ems-10

.job-monitor .control-group.messages>.box>.control>.text 
	margin-top: $ems-5
	margin-bottom: $ems-5
	padding-left: $ems-25
