.popup.messages
	&>.message
		min-width: 25em
		margin: 0 0 em(7) 0
		-webkit-transition: all .3s ease
		-moz-transition: all .3s ease
		-o-transition: all .3s ease
		transition: all .3s ease

		&>.body
			display: flex
			flex-direction: row
			position: relative
			box-shadow: 0 2px 4px rgba(0,0,0,0.2)
			padding: em(16) em(9) em(16) em(15)
			color: #333
			background-color: #f5f5f5
			border-radius: em(3)
			-webkit-transition: all .3s ease
			-moz-transition: all .3s ease
			-o-transition: all .3s ease
			transition: all .3s ease

			&>.icon
				margin-right: em(10)

			&>.close
				position: absolute
				top: em(7)
				right: em(7)
				color: #444

				&:hover
					color: #222
					cursor: pointer

			&>.text
				overflow-wrap: break-word
				overflow: hidden

		&.hiding
			position: relative
			margin-bottom: 0
			overflow: hidden

			&>.body
				height: 0
				overflow: hidden
				padding: 0
				box-shadow: none
				border: none

		&.error
			&>.body
				background-color: $danger
				color: #fff

				&>.icon
					color: #fff

				&>.close
					color: #fff

					&:hover
						color: #ccc