.viewport>.header>.breadcrumbs {
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	display: flex;
	flex-direction: row;
	padding-right: 2.28571429em;
	margin-left: .28571429em;
}

.viewport>.header>.breadcrumbs>.btn {
	text-decoration:none;
	color: #fff;
	text-decoration: none; 
	padding: .5em 0 .5em 3.21428571em !important;
	background: #222;

	position: relative; 
	display: inline-block;

	border: none;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
	outline: none !important;
	margin-left: 0 !important;
}

.viewport>.header>.breadcrumbs>.btn {
	-webkit-transition: background-color ease-in-out .15s, color ease-in-out .15s;
	-o-transition: background-color ease-in-out .15s, color ease-in-out .15s;
	transition: background-color ease-in-out .15s, color ease-in-out .15s;
}

.viewport>.header>.breadcrumbs>.btn:after {
	-webkit-transition: border-color ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s;
	transition: border-color ease-in-out .15s;
}

.viewport>.header>.breadcrumbs>.btn,
.viewport>.header>.breadcrumbs>.btn:focus,
.viewport>.header>.breadcrumbs>.btn:hover {
	z-index: auto;
}

.viewport>.header>.breadcrumbs>.btn>.fa.no-icon {
	width: auto;
}

.viewport>.header>.breadcrumbs>.btn:after {
	content: " ";
	display: block;
	width: 0; height: 0;
	border-top: 2.5em solid transparent;
	border-bottom: 2.5em solid transparent;
	border-left: 2.14285714em solid #222;
	position: absolute;

	top: 50%; left: 100%;
	z-index: 1;
	margin-top: -2.5em; 
}

.viewport>.header>.breadcrumbs>.btn:first-child {
	padding-left: .85714286em !important;
	font-weight: 500;
}

.viewport>.header>.breadcrumbs>.btn.n1       { background:#222; }
.viewport>.header>.breadcrumbs>.btn.n1:after { border-left-color:#222; }
.viewport>.header>.breadcrumbs>.btn.n2       { background:#444; }
.viewport>.header>.breadcrumbs>.btn.n2:after { border-left-color:#444; }
.viewport>.header>.breadcrumbs>.btn.n3       { background:#555; }
.viewport>.header>.breadcrumbs>.btn.n3:after { border-left-color:#555; }
.viewport>.header>.breadcrumbs>.btn.n4       { background:#666;}
.viewport>.header>.breadcrumbs>.btn.n4:after { border-left-color:#666; }
.viewport>.header>.breadcrumbs>.btn.n5       { background:#777; }
.viewport>.header>.breadcrumbs>.btn.n5:after { border-left-color:#777; }
.viewport>.header>.breadcrumbs>.btn.n6       { background:#444; }
.viewport>.header>.breadcrumbs>.btn.n6:after { border-left-color:#444; }
.viewport>.header>.breadcrumbs>.btn.n7       { background:#555; }
.viewport>.header>.breadcrumbs>.btn.n7:after { border-left-color:#555; }
.viewport>.header>.breadcrumbs>.btn.n8       { background:#666;}
.viewport>.header>.breadcrumbs>.btn.n8:after { border-left-color:#666; }
.viewport>.header>.breadcrumbs>.btn.n9       { background:#777; }
.viewport>.header>.breadcrumbs>.btn.n9:after { border-left-color:#777; }

.viewport>.header>.breadcrumbs>.btn:focus,
.viewport>.header>.breadcrumbs>.btn:active {
	color: #fff;
	background-color: #17a;
}

.viewport>.header>.breadcrumbs>.btn:focus:after,
.viewport>.header>.breadcrumbs>.btn:active:after {
	border-left-color: #17a;
}

.viewport>.header>.breadcrumbs>.btn:not(:first-child):hover {
	color: #fff;
	background-color: #39c;
}

.viewport>.header>.breadcrumbs>.btn:not(:first-child):hover:after {
	border-left-color:#39c;
}

.viewport>.header>.breadcrumbs>.btn.n1:hover,
.viewport>.header>.breadcrumbs>.btn.n1:focus,
.viewport>.header>.breadcrumbs>.btn.n1:active {
	color: #39c;
	background-color: #222;
}

.viewport>.header>.breadcrumbs>.btn.n1:hover:after,
.viewport>.header>.breadcrumbs>.btn.n1:focus:after,
.viewport>.header>.breadcrumbs>.btn.n1:active:after {
	border-left-color: #222;
}