.checkbox {
	margin: 0;
	align-items: center;
	cursor: pointer;
	height: 100%;
}

.checkbox.focus>.control,
.checkbox:focus>.control,
.checkbox:active>.control {
	color: #337ab7;
}

.checkbox.disabled>.control,
.checkbox.disabled>.label {
	color: #a6a6a6 !important;
}

.checkbox>.control {
	width: 1em;
	min-width: 1em;
	height: auto;
	min-height: 0;
	padding-left: 0;
	padding-right: 0;
	flex: inherit;
}

.checkbox>.control,
.checkbox>.label {
	background: none;
	border: none;
	box-shadow: none;
	padding-top: 0;
	padding-bottom: 0;
	max-width: 100%;
}

.checkbox>.label>.text {
	font-size: inherit;
}

.checkbox.label-left>.label {
	padding-left: 0;
	padding-right: .42857143em;
}

.checkbox.label-left>.label.readonly {
	max-width: calc(100% - 2.2em);
}

.checkbox.label-right>.label {
	padding-left: .42857143em;
	padding-right: 0;
}

.checkbox.label-right>.label.readonly {
	max-width: calc(100% - 1em);
}

.checkbox>.label.readonly:after {
	top: .5em;
}