.info {
	color: #31b0d5;
}

.warning {
	color: #f0ad4e;
}

.error {
	color: #d9534f;
}

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.display-none {
	display: none !important;
}

.hidden {
	visibility: hidden;
	height: 0 !important;
	min-height: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	overflow: hidden !important;
	flex: none !important;
}

.fa-transform-transition {
	-webkit-transition: transform .25s;
	-o-transition: transform .25s;
	transition: transform .25s;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-center {
	align-items: center;
}

.flex,
.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

.flex-3 {
	flex: 3;
}

.flex-4 {
	flex: 4;
}