@font-face {
	font-family: 'Z8Icons';
	src: url('/fonts/z8/z8-icons.eot');
	src: url('fonts/z8/z8-icons.eot?#iefix') format('embedded-opentype'), url('fonts/z8/z8-icons.woff') format('woff'), url('fonts/z8/z8-icons.ttf') format('truetype'), url('fonts/z8/z8-icons.svg#z8icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fa-ruler-combined,
.fa-ruler-h,
.fa-ruler-v,
.fa-curved-line,
.fa-layers {
	font-family: Z8Icons !important;
}

.fa-ruler-combined:before {
	content:"\0041";
}

.fa-ruler-h:before {
	content:"\0042";
}

.fa-ruler-v:before {
	content:"\0043";
}

.fa-curved-line:before {
	content:"\0044";
}

.fa-layers:before {
	content:"\0045";
}
