.job-monitor .messages>.control {
	padding: .71428571em;
}

.job-monitor .messages>.control>.header {
	margin-top: .71428571em;
	margin-bottom: 0;
	font-weight: bold;
}

.job-monitor .messages>.control>.header>i {
	padding-right: .71428571em;
}

.job-monitor .messages>.control>.text {
	margin-top: .35714286em;
	margin-bottom: .35714286em;
	padding-left: 1.78571429em;
}
