.pager {
	margin: 0;
	line-height: 1.28571428em;
	padding: .35714286em .28571429em;
	border: 1px solid #ccc;
	background-color: #fcfcfc;
	min-width: 17.85714285em;
	position: relative;
	z-index: 0;

	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.pager>.paging {
	font-size: .85714286em;
	min-width: 11.42857142em;
	float: left;
}

.pager>.paging>.btn {
	float: left;
}

.pager>.paging>.btn>.fa {
	font-weight: bold;
}

.pager .totals {
	font-weight: 500;
	padding-top: .14285714em;
}

.pager>.paging>.control-group {
	float: left;
	padding-top: .14285714em;
}

.pager>.paging>.control-group>input {
	width: 3.57142857em;
	height: 1.21428571em;
	min-height: 0;
	margin: 0 .35714286em;
	font-weight: bold;
	text-align: center;
}

.pager>.paging>.totals {
	margin-right: .35714286em;
	float: left;
}

.pager>.totals {
	font-size: .85714286em;
	text-align: right;
	float: right;
}

.list-box>.actions {
	height: 4em;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.list-box>.actions>.btn-group,
.list-box>.actions>.btn {
	margin-left: .71428571em;
}

.list-box>.pager {
	border-top-width: 0;
	min-width: 0;
}

.list-box>.pager>.paging {
	min-width: 0;
}
.combobox .pager {
	position: fixed;
	min-width: 17.85714285em;
	z-index: 1001;
	box-shadow: rgba(0, 0, 0, 0.172549) 0 6px 12px;
	border-top-width: 0;
	border-bottom-left-radius: .28571429em;
	border-bottom-right-radius: .28571429em;
}
