.list {
	padding: .07142857em 0;
	margin: .14285714em 0 .14285714em 0;
	list-style: none;
	text-align: left;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: .28571429em;
	-webkit-box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.100);
	box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.100);
	background-clip: padding-box;
	overflow-x: hidden;
	overflow-y: hidden;

	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.list>.scroller.headers {
	overflow-x: hidden;
	overflow-y: hidden;
}

.list>.scroller.items {
	overflow-y: auto;
	flex: 1;
}

.list.columns>.scroller.items {
	overflow-x: auto;
}

.list.columns.totals>.scroller.items {
	overflow-x: hidden !important;
}

.list.columns>.scroller.totals {
	overflow-x: auto;
}

.list table {
	table-layout: fixed;
	cursor: default;
	border-spacing: 0;
}

.list .divider {
	margin-top: .28571429em;
	margin-bottom: .28571429em;
	border-bottom: 1px solid #eee;
	overflow-x: hidden;
	overflow-y: hidden;
}

.list .item {
	font-weight: normal;
}

.list .scroller.headers {
	background-color: #fcfcfc;
	border-bottom: 1px solid #ccc;
}

.list .scroller.headers.filters {
}

.list .scroller.totals {
	border-top: 1px solid #ccc;
	background-color: #fcfcfc;
}

.list .header {
	color: #777;
}

.list .header>.column {
	position: relative;
	border-bottom: none;
	padding: .42857143em .5em;

	-webkit-transition: background-color ease-in-out .15s, color ease-in-out .15s;
	-o-transition: background-color ease-in-out .15s, color ease-in-out .15s;
	transition: background-color ease-in-out .15s, color ease-in-out .15s;
}

.list .number>.column,
.list .total>.column {
	height: 1.57142857em;
}

.list .header>.column>.text,
.list .item>.column>.cell>.text,
.list .total>.column>.cell>.text {
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
}

.list .total>.column>.cell>.text {
	white-space: nowrap;
}

.list .header>.column>.text {
	float: left;
	max-width: 100%;
	font-weight: 500;
	font-size: .85714286em;
}

.list .header>.column.sort>.text,
.list .header>.column.filter>.text {
	max-width: calc(100% - 1.78571429em);
}

.list .header>.column.sort.filter>.text {
	max-width: calc(100% - 3.57142857em);
}

.list .filter>.column {
	border-top: 1px solid #ccc;
	background-color: #fff;
	padding: 0 .14285714em;
}

.list .number>.column,
.list .item>.column,
.list .total>.column {
	position: relative;
	padding: 0;
}

.list .number>.column,
.list .item>.column,
.list .total>.column {
	border-left: 1px solid #eee;
}

.list .item>.column>.cell,
.list .total>.column>.cell {
	display: flex;
	flex-direction: row;
}

.list .item>.column>.cell {
	padding: .5em .5em;
}

.list .number>.column>.cell,
.list .total>.column>.cell {
	padding: .42857143em .5em;
	font-size: .85714286em;
	font-weight: bold;
}

.list .number>.column>.cell {
	border-top: 1px solid #eee;
	text-align: center;
}

.list .number>.column:first-child,
.list .item>.column:first-child,
.list .total>.column:first-child {
	border-left: none;
}

.list .item>.column {
	border-bottom: 1px solid #eee;
}

.list .item>.column>.cell>.text,
.list .total>.column>.cell>.text {
	display: inline-block;
}

.list .item>.column:first-child:not(.check):not(.lock)>.cell,
.list .total>.column:first-child:not(.check):not(.lock)>.cell {
	padding-left: 1em;
}

.list .header>.column>.text>.icon,
.list .item>.column>.cell>.icon {
	margin-right: .5em;
}

.list .item>.column>.cell>.icon {
	margin-top: .14285714em;
}

.list .item>.column.boolean>.cell {
	flex-flow: column;
	align-items: center;
}

.list .item>.column.file>.cell {
	padding-right: 1.5em;
}

.list .item>.column.file>.cell>.text,
.list .item>.column>.cell>.text.follow {
	cursor: pointer;
}

.list .item>.column.file>.cell>.text:hover,
.list .item>.column>.cell>.text.follow:hover {
	text-decoration: underline;
}

.list .item>.column.int>.cell,
.list .total>.column.int>.cell,
.list .item>.column.float>.cell,
.list .total>.column.float>.cell,
.list .item>.column.date>.cell,
.list .total>.column.date>.cell,
.list .item>.column.datetime>.cell,
.list .total>.column.datetime>.cell {
	flex-direction: row-reverse;
	white-space: nowrap;
}

.list .item>.column.int:first-child>.cell,
.list .item>.column.float:first-child>.cell,
.list .item>.column.date:first-child>.cell,
.list .item>.column.datetime:first-child>.cell {
	flex-direction: row;
}

.list .item>.column.check,
.list .item>.column.lock {
	width: 2.14285714em;
	max-width: 2.14285714em;
	min-width: 2.14285714em;
}

.list .item>.column.check>.cell,
.list .item>.column.lock>.cell {
	flex-flow: column;
	align-items: center;
	padding: 0;
}

.list .item>.column.check>.cell>.text,
.list .item>.column.lock>.cell>.text,
.list .item>.column.boolean>.cell>.text {
	overflow-x: visible;
	overflow-y: visible;
}

.list .item>.column.check .fa-check-square {
	color: #39c;
}

.focus .list .item.active>.column.check,
.focus .list .item.active>.column.lock {
	color: inherit;
	background-color: inherit;
}

.list .header>.column:first-child {
	padding-left: 1em;
}

.list .item.active>.column:first-child:before {
	content: ' ';
	position: absolute;
	top: 0;
	width: 2px;
	background-color: #39c;
	left: 0;
	bottom: 0;
}

.list .item>.column>.control-group,
.list .item>.column>.variant>.control-group {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background-color: white;
	z-index: 1;
}

.list .item>.column .control {
	padding-left: .5em;
	padding-right: .42857143em;
	padding-top: .57142857em;
	padding-bottom: .57142857em;
	border-width: 1px;
	border-color: #39c;
}

.list .item>.column .control-group.invalid>.control {
	border-color: #c9302c;
}

.list .item>.column:first-child .control-group>.control {
	padding-left: .57142857em;
}

.list .item>.column .control-group>textarea.control {
	padding-top: .42857143em;
	padding-left: .42857143em;
	overflow-y: hidden;
	white-space: normal;
	resize: none;
	min-height: 0;
}

.list .item>.column .control-group>.label {
	display: none;
}

.list .item>.column .control-group>.btn-trigger {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 0;
}

.list .item>.column .control-group.trigger-1>.control {
	padding-right: 1.57142857em;
}

.list .item>.column .control-group.trigger-2>.control {
	padding-right: 3em;
}

.list .item>.column .control-group>.trigger-1 {
	right: .14285714em;
}

.list .item>.column .control-group>.trigger-2 {
	right: 1.57142857em;
}

.list .item>.column .control-group>.trigger-3 {
	right: 3em;
}

.list .header>.column {
	cursor: pointer;
}

.list .header>.column.icon {
	width: 2.14285714em;
	min-width: 2.14285714em;
	max-width: 2.14285714em;
	cursor: pointer;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

.list .total>.column.icon {
	text-align: center;
	padding-top: .28571429em;
	font-weight: bold;
	border-right: none
}

.list .header>.column.icon:not(:first-child) {
	border-left: 1px solid #eee;
}

.list .header>.column>.sort,
.list .header>.column>.filter {
	position: relative;
	left: 0;
	top: 1px;
	width: auto;
	padding-left: .5em;
}

.list .item>.column>.cell>.collapser {
	margin-right: .5em;
}

.list .item.no-children>.column>.cell>.collapser {
	color: transparent;
}

.list .item:not(.no-children)>.column>.cell>.collapser {
	cursor: pointer;
}

.list .item:not(.no-children)>.column>.cell>.collapser:hover {
	color: #39c;
}

.focus .list .item:not(.no-children).active>.column>.cell>.collapser:hover {
	color: #333;
}

.list .item>.column>.cell>.collapser>.icon {
	width: 1em;
	text-align: center;
	margin-top: .14285714em;
}

.list .filter .control-group>.btn-trigger {
	right: .14285714em;
	margin-top: 0;
}

.resize-handle-left,
.resize-handle-right {
	position: absolute;
	top: 0;
	bottom: 0;
	cursor: w-resize;
	width: .28571429em;
}

.resize-handle-left {
	left: 0;
	border-left: 1px solid #eee;
}

.resize-handle-right {
	right: 0;
}

.list .header>.column.first:first-child>.resize-handle-left {
	display: none;
}

.list:not(.auto-fit) .header>.column.last,
.list:not(.auto-fit) .number>.column.last,
.list:not(.auto-fit) .total>.column.last,
.list:not(.auto-fit) .filter>.column:last-child,
.list:not(.auto-fit) .item>.column:last-child {
	border-right: 1px solid #eee;
}

.list.auto-fit .item>.column:last-child {
	border-right-width: 0;
}

.list .header>.column:not(.extra):hover {
	color: #fff;
	background-color: #39c;
}

.list .item:hover>.column {
	background-color: #f5f5f5;
}

.focus .list .item.active>.column {
	color: #fff;
	background-color: #39c;
}

.list .item.disabled>.column,
.list .item.disabled:hover>.column,
.list .item.disabled>.column {
	color: #999
}

.list .item.disabled:hover>.column,
.list .item.disabled>.column {
	background-color: transparent;
	cursor: not-allowed
}

.item.level-0>.column>.cell>.collapser {
}

.item.level-1>.column>.cell>.collapser {
	padding-left: 1.07142857em;
}

.item.level-2>.column>.cell>.collapser {
	padding-left: 2.14285714em;
}

.item.level-3>.column>.cell>.collapser {
	padding-left: 3.21428571em;
}

.item.level-4>.column>.cell>.collapser {
	padding-left: 4.28571429em;
}

.item.level-5>.column>.cell>.collapser {
	padding-left: 5.35714286em;
}

.item.level-6>.column>.cell>.collapser {
	padding-left: 6.42857143em;
}

.item.level-7>.column>.cell>.collapser {
	padding-left: 7.5em;
}

.item.level-8>.column>.cell>.collapser {
	padding-left: 8.57142857em;
}

.item.level-9>.column>.cell>.collapser {
	padding-left: 9.64285714em;
}

.item.level-10>.column>.cell>.collapser {
	padding-left: 10.71428571em;
}


.pager {
	margin: 0;
	line-height: 1.28571428em;
	padding: .35714286em .28571429em;
	border: 1px solid #ccc;
	background-color: #fcfcfc;
	min-width: 17.85714285em;
	position: relative;
	z-index: 0;

	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.pager>.paging {
	font-size: .85714286em;
	min-width: 11.42857142em;
	float: left;
}

.pager>.paging>.btn {
	float: left;
}

.pager>.paging>.btn>.fa {
	font-weight: bold;
}

.pager .totals {
	font-weight: 500;
	padding-top: .14285714em;
}

.pager>.paging>.control-group {
	float: left;
	padding-top: .14285714em;
}

.pager>.paging>.control-group>input {
	width: 3.57142857em;
	height: 1.21428571em;
	min-height: 0;
	margin: 0 .35714286em;
	font-weight: bold;
	text-align: center;
}

.pager>.paging>.totals {
	margin-right: .35714286em;
	float: left;
}

.pager>.totals {
	font-size: .85714286em;
	text-align: right;
	float: right;
}

.dropdown-list.list {
	min-width: 17.85714285em;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
}

.dropdown-list.list>.scroller.items {
	overflow-y: auto;
	overflow-x: auto;
	position: relative;
	height: 100%;
}

.dropdown-list.list.columns>.scroller.items {
	top: 0;
	height: calc(100% - 1.92857143em);
}

.dropdown-list.list.pull-up {
	-webkit-box-shadow: 1px -1px 12px rgba(0, 0, 0, 0.100);
	box-shadow: 1px -1px 12px rgba(0, 0, 0, 0.100);
}

.dropdown-list.list .item {
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
}

.dropdown-menu.list {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
	padding: .35714286em 0;
	background-color: #fff;
}

.dropdown-menu.list>.scroller.items {
	overflow-y: auto;
	position: relative;
	height: calc(100% + .14285714em);
}

.dropdown-menu.list table {
	table-layout: auto;
	margin-top: 1px;
	margin-bottom: 1px;
}

.dropdown-menu.list .item>.column {
	border-bottom: none;
}

.dropdown-menu.list .item>.column>.cell>.text {
	position: relative;
	border: none;
	white-space: nowrap;
	flex: 1;
}

.dropdown-menu.list .item>.column:first-child>.cell {
	padding-left: 1.42857143em;
}

.dropdown-menu.list .item>.column:last-child>.cell {
	padding-right: 1.42857143em;
}

.dropdown-menu.list .item>.column>.cell>.text.shortcuts {
	display: flex;
}

.dropdown-menu.list .item>.column>.cell>.text>.shortcut {
	text-align: right;
	margin-left: 1.07142857em;
	flex: 1;
}

.dropdown-menu.list .item.active>.column {
	color: #fff;
	background-color: #39c;
}

.dropdown-list.pull-down:not(:last-child) {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: 0;
}

.dropdown-list.pull-up:not(:last-child) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-bottom: 0;
}

.control.list {
	height: auto;
	border-width: 1px;
	padding: 0;
	margin: 0;
	box-shadow: none; 
}

.control-group.pager-on>.control.list,
.control-group.focus.pager-on>.control.list,
.control-group.focus.invalid.pager-on>.control.list {
	border-bottom-color: #eee;
}

.control-group.focus.pager-on>.pager {
	border-left-color: #39c;
	border-right-color: #39c;
	border-bottom-color: #39c;
}

.control-group.invalid:not(.readonly).focus.pager-on>.pager {
	border-left-color: #c9302c;
	border-right-color: #c9302c;
	border-bottom-color: #c9302c;
}

.list-box>.btn-group {
	margin-top: .35714286em;
}

.list-box>.actions {
	height: 4em;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.list-box>.actions>.btn-group,
.list-box>.actions>.btn {
	margin-left: .71428571em;
}

.list-box>.pager {
	border-top-width: 0;
	min-width: 0;
}

.list-box>.pager>.paging {
	min-width: 0;
}


.column-resizer-mask {
	cursor: w-resize;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000000;
}

.dropdown-list,
.dropdown-menu {
	position: fixed;
}

.combobox .pager {
	position: fixed;
	min-width: 17.85714285em;
	z-index: 1001;
	box-shadow: rgba(0, 0, 0, 0.172549) 0 6px 12px;
	border-top-width: 0;
	border-bottom-left-radius: .28571429em;
	border-bottom-right-radius: .28571429em;
}
