.popup.messages>.message {
	min-width: 25em;
	margin: 0 0 .5em 0;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.popup.messages>.message.hiding {
	position: relative;
	margin-bottom: 0;
	overflow: hidden;
}

.popup.messages>.message>.body {
	display: flex;
	flex-direction: row;

	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	padding: 1.14285714em .64285714em 1.14285714em 1.07142857em;
	color: #333;
	background-color: #f5f5f5;
	border-radius: .21428571em;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.popup.messages>.message.hiding>.body {
	height: 0;
	overflow: hidden;
	padding: 0;
	box-shadow: none;
	border: none;
}

.popup.messages>.message.fatal>.body {
	background-color: #d9534f;
	color: #fff;
}

.popup.messages>.message.fatal>.body>.icon {
	color: #fff;
}

.popup.messages>.message>.body>.icon {
	margin-right: .71428571em;
}

.popup.messages>.message>.body>.text {
	overflow-wrap: break-word;
	overflow: hidden;
}
