.viewport>.menu {
	position: absolute;
	top: 2.85714286em;
	left: -13.57142857em;
	bottom: 0;
	background-color: #222;
	width: 14.28571428em;
	z-index: 10000;
	padding-right: .71428571em;
	opacity: .97;
	border-right: 1px solid #333;
	-webkit-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.100);
	box-shadow: 3px 0 6px rgba(0, 0, 0, 0.100);
}

.viewport>.menu>.handle {
width: .71428571em;
	position: absolute;
	height: 11em;
	top: calc(50% - 5em);
	padding-top: 5em;
	right: 0;
	color: #aaa;
	text-align: center;
}

.viewport>.menu.open {
	padding-right: 0;
	left: 0;
	-webkit-transition: left .3s;
	transition: left .3s;
}

.viewport>.menu.disabled {
	opacity: 0.7;
	left: -13.57142857em;
}

/*.viewport>.menu:hover>.handle,*/
.viewport>.menu.open>.handle {
	display: none;
}

.viewport>.menu>.logo {
	text-align: center;
	color: #fff;
	padding-left: 1.42857143em;
	padding-top: 2.14285714em;
	padding-bottom: 2.14285714em;
	border-bottom: 1px solid #333;
	width: 100%;
}

.viewport>.menu .item {
	height: 2.57142857em;
	width: 100%;
	color: #eee;
	background-color: #222;
	padding-left: 1.07142857em;
	padding-right: 1.42857143em;
	border-left: 2px solid transparent;
	border-bottom: 1px solid #333;
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.viewport>.menu .item:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	height: 2.57142857em;
	width: 0;
	z-index: 1;
	background-color: #2a2a2a;
	-webkit-transition: width .3s;
	transition: width .3s;
	opacity: .5;
}

.viewport>.menu .item.active {
	border-left-color: #39c;
}

.viewport>.menu .item.active:after {
	width: 100%;
}

.viewport>.menu .item>.icon {
	float: left;
	margin-right: .71428571em;
	width: 1em;
}

.viewport>.menu .item>.text {
	float: left;
	width: 9.28571428em;
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.viewport>.menu .item>.chevron {
	color: #aaa;
	position: absolute;
	right: .71428571em;
	top: 1.28571429em;
	font-size: .71428571em;
	z-index: 2;
}

.viewport>.menu .item.active>.chevron {
	color: #39c;
}

.viewport>.menu .item>.submenu {
	position: absolute;
	display: none;
	top: 0;
	left: calc(14.14285714em - 1px);
	background-color: #222;
	width: 21.42857142em;
	min-height: 8.35714285em;
	-webkit-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.100);
	box-shadow: 3px 0 6px rgba(0, 0, 0, 0.100);
	z-index: 10000;
}

.viewport>.menu>.item.active>.submenu {
	display: block;
}

.viewport>.menu.disabled>.item.active>.submenu {
	display: none;
}

.viewport>.menu .submenu>.item>.text {
	width: 16.42857142em;
}
