.source-code {
	position: absolute;
	top: 6.42857143em;
	right: -90%;
	bottom: 0;
	background-color: #fff;
	width: 90%;
	z-index: 9999;
	-webkit-box-shadow: -3px 0 6px rgba(0, 0, 0, 0.100);
	box-shadow: -3px 0 6px rgba(0, 0, 0, 0.100);
}

@media screen and (min-width: 768px) {
	.source-code {
		right: -60%;
		width: 60%;
	}
}

.source-code.open {
	right: 0%;
	-webkit-transition: right .3s;
	transition: right .3s;
}

.source-code.disabled {
	right: -5.35714286em;
}

.source-code>.toolbar {
	height: 2.85714286em;
	width: 100%;
}

.source-code>.toolbar>.text {
	max-width: calc(100% - 7em);
	margin-left: 1.78571429em;
	padding-top: .64285714em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: left;
}

.source-code>.code {
	position: absolute;
	top: 2.85714286em;
	bottom: 0;
	width: 100%;
	overflow: auto;
}

.source-code pre.code {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family: 'Roboto Mono', monospace;
	line-height: normal;
	margin: 1em;
	color: #000;
	user-select: text;
	-webkit-user-select: text;
}

.source-code pre.code a {
	text-decoration: none;
	color: #000;
}

.source-code pre.code a:hover {
	text-decoration: underline;
}

.source-code pre.code span.keyword {
	font-weight: bold;
	color: #7f0055;
}

.source-code pre.code span.literal {
	color: #2a00ff;
	font-weight: normal;
}

.source-code pre.code span.comment,
.source-code pre.code span.comment>* {
	color: #3f7f5f;
	font-weight: normal;
}

.source-code pre.code .enum {
	color: #2a00ff;
	font-weight: bold;
	font-style: italic;
}

.source-code pre.code .attribute {
	color: #3f7f5f;
	font-weight: bold;
}

.source-code pre.code .record {
	color: #7f0055;
	font-weight: bold;
}

.source-code pre.code .static.member {
	color: #2a00ff;
	font-weight: bold;
}

.source-code pre.code .local {
	color: #6a3e3e;
}

.source-code pre.code .static {
	font-style: italic;
}

.source-code pre.code .selected {
	background-color: #39c !important;
	color: white !important;
}