.air .tabs {
	border: 1px solid #dfdfdf;
}

.air .tabs>.header {
	display: inline-block;
	margin: 0;
	border-bottom: 1px solid #eee;
	background-color: #fcfcfc;
}

.air .tabs>.body {
	min-height: fit-content;
	padding: 1em .35714286em .35714286em .35714286em;
}

.air .tabs>.header>.tag {
	height: 3em;
	border: .14285714em solid transparent;
	padding-left: 1.42857143em;
	padding-top: .71428571em;
	padding-right: 1.42857143em;
	border-radius: 0;
	font-weight: 500;
	color: #555;
	text-transform: uppercase;
	background-color: inherit;

	float: left;
	max-width: 14.28571428em;

	-webkit-transition: border-color ease-in-out .15s, color ease-in-out .15s, padding-top ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, color ease-in-out .15s, padding-top ease-in-out .15s;
	transition: border-color ease-in-out .15s, color ease-in-out .15s, padding-top ease-in-out .15s;
}

.air .tabs>.header>.tag>.text {
	font-weight: 600;
	font-size: 0.8em;
}

.air .tabs>.header>.tag>.icon {
	width: auto;
}

.air .tabs>.header>.tag.active {
	padding-top: 1.07142857em;
	border-bottom-color: #888;
	color: inherit;
}

.air .tabs>.header>.tag:hover,
.air .tabs>.header>.tag:focus {
	color: #39c;
}

.air .tabs>.header>.tag.active:focus {
	border-bottom-color: #39c;
}
