.toolbar {
	display: inline-block;

	border-bottom: 1px solid rgba(0, 0, 0, 0.14902);
	padding-right: .71428571em;
	padding-bottom: .21428571em;
}

.toolbar>.text {
	font-weight: 500;
	font-size: 1.14285714em;
	line-height: 1.14285714em;
	color: #333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.toolbar>.btn,
.toolbar>.btn-group>.btn {
	border-radius: 0;
	padding: .57142857em .57142857em;
}

.toolbar>.btn-group {
	display: flex;
	flex-direction: row;
}

.toolbar>.btn,
.toolbar>.text,
.toolbar>.btn-group,
.toolbar>.control-group {
	margin-left: .35714286em;
	margin-top: .21428571em;
	float: left;
}

.toolbar>.btn,
.toolbar>.text,
.toolbar>.btn-group,
.toolbar>.btn-group>.btn,
.toolbar>.control-group,
.toolbar>.control-group>.control {
	height: 2.28571429em;
}

.toolbar>.btn-group>.btn-trigger {
	padding-left: .21428571em;
	padding-right: .21428571em;
}

.toolbar>.control-group>.control {
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
}

.toolbar>.control-group>.btn-trigger,
.toolbar>.control-group.label-none>.btn-trigger {
	top: .35714286em;
	right: .14285714em;
	margin-top: 0;
}
