html,
body,
.viewport {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	color: #222;
	background-color: #fff !important;
	font: 400 11px/11px Roboto, 'Segoe UI', helvetica, arial;
	cursor: default;
	user-select: none;
	-webkit-user-select: none;
}

.viewport>.header {
	position: absolute;
	background-color: #222;
	width: 100%;
	height: 2.85714286em;
	min-height: 2.85714286em;
	color: #eee;
	padding-left: .71428571em;
	padding-right: .71428571em;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.100);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.100);
}

.viewport>.header>.text {
}

.viewport>.login>.row:last-child>.cell {
	flex-flow: row-reverse;
}

.viewport>.header>.btn-tool,
.viewport>.header>.btn-group>.btn-tool,
.viewport>.login .btn-tool {
	padding: .57142857em .57142857em;
}

.viewport>.header>.btn-tool:not(:hover):not(:focus):not(:active):not(.focus):not(.active),
.viewport>.header>.btn-group>.btn-tool:not(:hover):not(:focus):not(:active):not(.focus):not(.active),
.viewport>.login .btn-tool:not(:hover):not(:focus):not(:active):not(.focus):not(.active) {
	color: #eee;
}

.viewport>.body {
	position: absolute;
	top: 2.85714286em;
	left: .71428571em;
	right: 0;
	bottom: 0;
}

.viewport>.login {
	position: absolute;
	top: -7.85714286em;
	right: 0;
	min-height: 11.42857142em !important;
	padding: 1.07142857em;
	margin: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	color: #ccc;
	background-color: #222;
	opacity: .97;
	z-index: 10002;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.300);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.300);
	-webkit-transition: top .3s;
	transition: top .3s;
}

.viewport>.login.window-mask {
	z-index: 10002;
}

.viewport>.login.open {
	top: 2.85714286em;
}

.viewport>.login .header {
	font-weight: 500;
	font-size: 1em;
	line-height: 1em;
	margin-bottom: 1em;
}

.viewport>.login .label,
.viewport>.login .control {
	color: #ccc;
}

.viewport>.login .control {
	border-color: #555;
}

.viewport>.login .btn {
	float: right;
}

.viewport>.popup.messages {
	position: fixed;
	right: .71428571em;
	bottom: 1.07142857em;
	width: 25em;
	z-index: 10005;
	padding: 0;
}

.breadcrumbs>.btn.n1:first-child {
	font-family: Courgette;
}
