.window-mask,
.window-aligner {
	position: absolute;
	z-index: 9999;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.window-mask {
	background-color: #fff;
	opacity: 0/*.5*/;
}

.window-aligner {
	display: flex;
	align-items: center;
	justify-content: center;	
}

.window {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.window>.header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.window>.body {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.window>.footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}