.ext-ie .x-row-editor .x-form-text
{
	margin: 0px !important; 
}

.x-row-editor-body
{
	overflow:hidden;
	zoom:1;
	padding-top:0px;
	background-color: transparent;
}

.ext-ie6 .x-row-editor .x-form-field-wrap .x-form-trigger,
.ext-ie7 .x-row-editor .x-form-field-wrap .x-form-trigger,
.ext-ie9 .x-row-editor .x-form-field-wrap .x-form-trigger
{
	top: 1px !important;
}

.ext-ie6 .x-row-editor .x-form-field-trigger-wrap,
.ext-ie7 .x-row-editor .x-form-field-trigger-wrap,
.ext-ie9 .x-row-editor .x-form-field-trigger-wrap
{
	margin-top: -1px !important;
}
